.app_light_theme {
    --bg-color: whitesmoke;
    --inverted-bg-color: #1C1D1F;
    --primary-color: rgb(22 22 22);
    --secondary-color: rgb(22 22 22 / 60%);
    --inverted-primary-color: white;
    --inverted-secondary-color: rgb(255 255 255 / 60%);
}