.navbar {
    background: var(--inverted-bg-color);
    height: var(--nav-height);
}

.links {
    display: flex;
    margin-left: auto;
    align-items: center;
    height: 100%;
}

.login {
    margin-left: auto !important;
}